[submodule "doc"]
	path = doc
	url = https://github.com/CristianCMP/ems-algashop-doc.git
[submodule "microservices/ordering"]
	path = microservices/ordering
	url = https://github.com/CristianCMP/ems-algashop-ordering.git
[submodule "microservices/billing"]
	path = microservices/billing
	url = https://github.com/CristianCMP/ems-algashop-billing.git
[submodule "microservices/product-catalog"]
	path = microservices/product-catalog
	url = https://github.com/CristianCMP/ems-algashop-product-catalog.git
